[Unit]
Description=RabbitMQ broker
After=syslog.target network.target

[Service]
Type=simple
User=rabbitmq
Group=rabbitmq
Environment=RABBITMQ_PID_FILE=/var/run/rabbitmq/pid
WorkingDirectory=/var/lib/rabbitmq
ExecStart=/usr/lib/rabbitmq/bin/rabbitmq-server
ExecStartPost=/usr/lib/rabbitmq/bin/rabbitmqctl wait /var/run/rabbitmq/pid
ExecStop=/usr/lib/rabbitmq/bin/rabbitmqctl stop
ExecStopPost=/usr/bin/rm /var/run/rabbitmq/pid

[Install]
WantedBy=multi-user.target
