# -*- mode: conf -*-

[Unit]
Description=Kafka Exporter for Prometheus.
Documentation=https://github.com/danielqsj/kafka_exporter
After=network.target

[Service]
PIDFile=/run/kafka-exporter.pid
EnvironmentFile=-/etc/sysconfig/kafka-exporter
User=kafka-exporter
StandardOutput=file:/var/log/kafka-exporter/kafka-exporter.log
StandardError=file:/var/log/kafka-exporter/kafka-exporter.log
SyslogIdentifier=kafka-exporter
ExecStart=/usr/bin/kafka-exporter $KAFKA_EXPORTER_OPTS
Restart=always

[Install]
WantedBy=multi-user.target
