[Unit]
Description=Loki instance
Documentation=https://github.com/grafana/loki
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/loki
User=loki
Group=loki
Restart=always
ExecStart=/usr/bin/loki -config.file=${CONF_FILE}
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
