[Unit]
Description=Redis
After=syslog.target network.target

[Service]
Type=notify
ExecStart=/usr/bin/redis-server /etc/redis.conf --supervised systemd
KillSignal=SIGTERM
User=redis
Group=redis
PIDFile=/var/run/redis/redis.pid
TimeoutStartSec=15
TimeoutStopSec=90

[Install]
WantedBy=multi-user.target
