[Unit]
Description=Redis
After=syslog.target network.target

[Service]
PIDFile=/var/run/redis/redis.pid
ExecStart=/etc/init.d/redis start
ExecStop=/etc/init.d/redis stop

[Install]
WantedBy=multi-user.target
