[Unit]
Description=Redis Sentinel
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/redis-sentinel /etc/sentinel.conf --daemonize no
KillSignal=SIGTERM
User=redis
Group=redis
PIDFile=/var/run/redis/sentinel.pid

[Install]
WantedBy=multi-user.target
