[Unit]
Description=Redis Sentinel
After=syslog.target network.target

[Service]
PIDFile=/var/run/redis/sentinel.pid
ExecStart=/etc/init.d/sentinel start
ExecStop=/etc/init.d/sentinel stop

[Install]
WantedBy=multi-user.target
