[Unit]
Description=Memcached 
Before=httpd.service
After=network.target

[Service]
EnvironmentFile=-/etc/sysconfig/memcached
Type=forking
ExecStart=/usr/bin/memcached -d -l $LISTEN -p $PORT -m $CACHE_SIZE -c $MAX_CONN -u $USER $OPTIONS

[Install]
WantedBy=multi-user.target
