[Unit]
Description=A lightweight connection pooler for PostgreSQL
Documentation=man:pgbouncer(1)
After=network-online.target
Wants=network-online.target

[Service]
RemainAfterExit=yes
Type=notify
TimeoutSec=300

User=pgbouncer
Group=pgbouncer

Environment=BOUNCERCONF=/etc/pgbouncer/pgbouncer.ini
 
ExecStart=/usr/bin/pgbouncer -q ${BOUNCERCONF}
ExecReload=/usr/bin/pgbouncer -R -q ${BOUNCERCONF}

[Install]
WantedBy=multi-user.target
