[Unit]
Description=CVE Dictionary Server 
Before=httpd.service
After=network.target

[Service]
PIDFile=/var/run/cved-server.pid
ExecStart=/etc/init.d/cved-server start
ExecStop=/etc/init.d/cved-server stop

[Install]
WantedBy=multi-user.target
