[Unit]
Description=OVAL Dictionary Server 
Before=httpd.service
After=network.target

[Service]
PIDFile=/var/run/ovald-server.pid
ExecStart=/etc/init.d/ovald-server start
ExecStop=/etc/init.d/ovald-server stop

[Install]
WantedBy=multi-user.target
