[Unit]
Description=CVE Dictionary Server 
Before=httpd.service
After=network.target

[Service]
PIDFile=/var/run/goval-server.pid
ExecStart=/etc/init.d/goval-server start
ExecStop=/etc/init.d/goval-server stop

[Install]
WantedBy=multi-user.target
