[Unit]
Description=Beanstalkd
After=syslog.target network.target

[Service]
PIDFile=/var/run/beanstalkd.pid
ExecStart=/etc/init.d/beanstalkd start
ExecStop=/etc/init.d/beanstalkd stop

[Install]
WantedBy=multi-user.target
