[Unit]
Description=HAProxy Load Balancer
After=syslog.target network.target

[Service]
PIDFile=/var/run/haproxy.pid
ExecStart=/etc/init.d/haproxy start
ExecStop=/etc/init.d/haproxy stop
ExecReload=/etc/init.d/haproxy reload
KillMode=mixed
Restart=always

[Install]
WantedBy=multi-user.target
