[Unit]
Description=Consul Client
Documentation=https://www.consul.io/docs
Requires=network.target remote-fs.target
After=network.target remote-fs.target
ConditionPathExists=/var/lib/consul

[Service]
Type=simple
PIDFile=/var/run/consul-client.pid
User=consul
Group=consul
WorkingDirectory=/var/lib/consul
EnvironmentFile=/etc/sysconfig/consul-client
ExecStart=/usr/bin/consul agent -config-file=${CONF_FILE}
KillSignal=SIGINT
Restart=on-failure
SyslogIdentifier=consul-client

[Install]
WantedBy=multi-user.target