[Unit]
Description=Consul Server
Documentation=https://www.consul.io/docs
Requires=network.target remote-fs.target
After=network.target remote-fs.target
ConditionPathExists=/var/lib/consul

[Service]
Type=simple
PIDFile=/var/run/consul-server/consul-server.pid
User=consul
Group=consul
WorkingDirectory=/var/lib/consul
EnvironmentFile=/etc/sysconfig/consul-server
ExecStart=/usr/bin/consul agent -server -config-file=${CONF_FILE}
KillSignal=SIGINT
Restart=on-failure
SyslogIdentifier=consul-server

[Install]
WantedBy=multi-user.target

